<div class="bg-white border border-blue-100 shadow-lg rounded-2xl p-1 sm:p-6 mt-8 max-w-4xl">
    <h3 class="text-xl sm:text-2xl font-extrabold text-blue-900 mb-4 text-center">
      Preguntados - Ranking
    </h3>
    <div class="w-full overflow-x-auto">
      <table class="w-full text-center border-collapse text-xs sm:text-sm">
        <thead class="bg-blue-900 text-white uppercase">
          <tr>
            <th class="py-2 px-1 sm:py-3 sm:px-2 border border-blue-100">Puesto</th>
            <th class="py-2 px-1 sm:py-3 sm:px-2 border border-blue-100">Jugador</th>
            <th class="py-2 px-1 sm:py-3 sm:px-2 border border-blue-100">Tiempo</th>
            <th class="py-2 px-1 sm:py-3 sm:px-2 border border-blue-100">Partida</th>
            <th class="py-2 px-1 sm:py-3 sm:px-2 border border-blue-100">Letras Sel.</th>
            <th class="py-2 px-1 sm:py-3 sm:px-2 border border-blue-100">Errores</th>
          </tr>
        </thead>
        <tbody class="text-gray-800">
          @for (jugador of dataAhorcado(); track $index) {
            <tr class="transition-all" appTopColors [puesto]="$index + 1">
              <td class="py-1 px-1 sm:py-2 sm:px-2 border border-blue-100 font-semibold">{{$index + 1}}°er</td>
              <td class="py-1 px-1 sm:py-2 sm:px-2 border border-blue-100 font-semibold">{{jugador.profiles.firstName}}</td>
              <td class="py-1 px-1 sm:py-2 sm:px-2 border border-blue-100 text-green-700 font-bold">{{jugador.details.time_playing}}s</td>
              <td class="py-1 px-1 sm:py-2 sm:px-2 border border-blue-100 font-bold">{{(jugador.winner) ? "Ganada" : "Perdida"}}</td>
              <td class="py-1 px-1 sm:py-2 sm:px-2 border border-blue-100 text-blue-600 font-bold">{{jugador.details.selected_letters}}</td>
              <td class="py-1 px-1 sm:py-2 sm:px-2 border border-blue-100 text-red-500 font-bold">{{jugador.details.errors}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="mt-4 text-center">
      <p class="text-xs sm:text-sm text-gray-600">Top 5 mejores jugadores del Ahorcado</p>
      <div class="h-[2px] bg-yellow-500 w-12 sm:w-16 mx-auto mt-2 rounded-full"></div>
    </div>
  </div>
  