<div class="drop-shadow-black drop-shadow-xl/25 rounded-2xl bg-white flex items-center w-[400px] h-[220px] m-5 p-5 gap-5">
    <img class="w-36 h-36 object-cover rounded-xl" src="{{urlPhoto}}" alt="">
    <div class="flex flex-col justify-between text-center flex-1 h-full">
        <div>
            <h2 class="text-3xl">{{icon}}</h2>
            <h3 class="text-2xl font-bold">{{gameName}}</h3>
        </div>
        <p class="text-sm text-gray-700 leading-snug line-clamp-3">
            {{description}}
        </p>
        <button class="drop-shadow-black drop-shadow-xs border border-green-700 px-5 py-1.5 bg-green-400 text-white font-bold rounded-md hover:bg-green-500 transition cursor-pointer active:scale-90">
            <span class="text-xl">Jugar</span>
        </button>
    </div>
</div>
